{% if metafile.classes.length > 0  %}
/*Codegen*/
{% for import in metafile.imports %}
{%if import.isTransformer ===false%}
import { {{import.type}} } from '{{import.path}}';
{%endif%}
{% endfor %}

  {% for class in metafile.classes %}
export class {{class.name}} {
{% for field in class.fields %}
{% if  field.ignoredInView===false %}

  public {{field.name}}{% if field.isNullable %}?{% endif %}: {{field.type}}{% if field.isArray %} []{% endif %};
{% endif %}
{% else %}
{% endfor %}
}
{% else %}
{% endfor %}
{% endif %}