{% if metafile.classes.length > 0  %}
/*Codegen*/
// tslint:disable
/* eslint-disable */

{% for import in metafile.imports %}
{%if import.forMapper ===false%}
import {{import.type}} from '{{import.path}}';
{%endif%}
{% endfor %}

{% for class in metafile.classes %}
export class {{class.name}} {

{% for field in class.fields %}
{% if  field.ignoredInView===false %}
      public {{field.name}}{% if field.nullable === true %}?{%endif%}: {{field.type}}{% if field.isArray %} []{% endif %};

{% endif %}
{% endfor %}
}
{% endfor %}
{% endif %}